<%=raw "<h1>#{@page_title}</h1>" if @page_title %>

<p>This is Brian's Family Tree</p>

<br/>
Welcome to the New Family Tree Application.

<br/>
<a href="/familyname/index">Family Names List</a>

<br/>
<a href="/familyname/new">New Family Name</a>


